* {
  margin: 0;
  padding: 0;
}

.body__box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.body__box h1 {
  font-size: 28px;
  color: blueviolet;
}

.main__container {
  color: #fff;
  position: relative;
  height: 500px;
  width: 900px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(violet, pink);
  border: solid 1px rgb(241, 167, 241);
  border-radius: 10px;
}

.btn_bar {
  position: absolute;
  bottom: 0;
  padding: 0 0 15px 0;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.btn_bar button {
  height: 50px;
  width: 200px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: transparent;
}

.btn_bar :first-child {
  background: blueviolet;
}

.btn_bar :nth-child(2) {
  background: green;
}

.btn_bar :nth-child(3) {
  background: red;
}
